{% extends 'base.html.twig' %}

{% block title %}Services A dispositions | Izydrive
{% endblock %}

{% block body %}
	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
			<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div class="dark-light">
		<svg viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
	</div>

	{# ----header desktop--- #}
	<div class="app">
		{% include "partials/header1.html.twig" %}
		{# ----navbar left--- #}
		<div class="wrapper">
			<div class="left-side">
				<div class="side-wrapper">
					{% include "partials/navleft.html.twig" %}
				</div>
			</div>

			{# -----header mobile ---------- #}
			<div class="main-container">
				{% include "partials/headermobile.html.twig" %}
				<div class="content-wrapper">

					<div class="content-wrapper-header " style="padding:0px; border:0px">
						<img id="dispositionimage" class="content-wrapper-img mt-1 h-100 rounded  w-100 animate__animated animate__rotateInDownRight" src="https://www.vtc-avignon-provence.com/medias/images/visite-guidee-de-la-provence-location-de-voiture-avec-chauffeur-1.jpg?fx=r_700_146" alt="">
					</div>


					{# <h3 class="img-content text-center container animate__animated animate__rotateInDownRight">Daouda </h3> #}
					<div
						class="content-section">
						{# <div class="content-section-title">Apps in your plan</div> #}
						<div
							class="apps-card">

							{# caroussel  #}
							<div class="bd-example">
								<div class="container">
									<div class="slider h-100">

										<div class="box1 box">
											<div class="bg"></div>
											<div class="details">
												<h1>I'm the first Box</h1>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing 
																									                            elit. Integer lacinia dui lectus. Donec scelerisque ipsum
																									                            diam, ac mattis orci pellentesque eget.
												</p>
												{# <button>Check Now</button> #}
											</div>

											<div class="illustration">
												<div class="inner"></div>
											</div>
										</div>


										<div class="box2 box">
											<div class="bg"></div>
											<div class="details">
												<h1>I'm the second Box</h1>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing 
																									                            elit. Integer lacinia dui lectus. Donec scelerisque ipsum
																									                            diam, ac mattis orci pellentesque eget.
												</p>
												{# <button>Check Now</button> #}
											</div>

											<div class="illustration">
												<div class="inner"></div>
											</div>
										</div>

										<div class="box3 box">
											<div class="bg"></div>
											<div class="details">
												<h1>I'm the third Box</h1>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing 
																									                            elit. Integer lacinia dui lectus. Donec scelerisque ipsum
																									                            diam, ac mattis orci pellentesque eget.
												</p>
												{# <button>Check Now</button> #}
											</div>

											<div class="illustration">
												<div class="inner"></div>
											</div>
										</div>

										<div class="box4 box">
											<div class="bg"></div>
											<div class="details">
												<h1>I'm the fourth Box</h1>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing 
																									                            elit. Integer lacinia dui lectus. Donec scelerisque ipsum
																									                            diam, ac mattis orci pellentesque eget.
												</p>
												{# <button>Check Now</button> #}
											</div>

											<div class="illustration">
												<div class="inner"></div>
											</div>
										</div>

										<div class="box5 box">
											<div class="bg"></div>
											<div class="details">
												<h1>I'm the fifth Box</h1>
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing 
																									                            elit. Integer lacinia dui lectus. Donec scelerisque ipsum
																									                            diam, ac mattis orci pellentesque eget.
												</p>
												{# <button>Check Now</button> #}
											</div>

											<div class="illustration">
												<div class="inner"></div>
											</div>
										</div>

									</div>

									{# <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewbox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff"/></svg>
																	<svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewbox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff"/></svg> #}
									<div class="trail">
										<div class="box1 active">1</div>
										<div class="box2">2</div>
										<div class="box3">3</div>
										<div class="box4">4</div>
										<div class="box5">5</div>
									</div>
								</div>

								<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
								<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>
								<script src="script.js"></script>
								<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/gsap.min.js"></script>
															        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/CSSRulePlugin.min.js"></script> -->

							</div>
							{# fin caroussel  #}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay-app"></div>

</div>{% endblock %}
