{% extends 'base.html.twig' %}

{% block title %}Page Accueil | Home
{% endblock %}

{% block body %}
	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
			<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div class="dark-light">
		<svg viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
	</div>

	{# ----header desktop--- #}
	<div class="app">
		{% include "partials/header1.html.twig" %}
		{# ----navbar left--- #}
		<div class="wrapper">
			<div class="left-side">
				<div class="side-wrapper">
					{% include "partials/navleft.html.twig" %}
				</div>
			</div>

			{# -----header mobile ---------- #}
			<div class="main-container">
				{% include "partials/headermobile.html.twig" %}

				<div class="content-wrapper">
					<div class="content-wrapper-header  ">
						<div class="content-wrapper-context">
							<h2 class="img-content">
								Votre chauffeur privé
							</h2>

							<div class="content-text">Un service de transport de qualite, rapide et efficace.
							</div>
							{# Commandez une course sans plus attendre avec votre chauffeur préféré. #}
							<button class="content-button  animate__flipInY animate__animated">
								<a class="text-decoration-none text-white" href="{{path('app_order_new')}}">Reservez!</a>
							</button>
						</div>

						<img class="content-wrapper-img  w-75" min-heigth="150px" src="{{asset('assets/images/chauffeurvtc.png')}}" alt="">
					</div>
					<h2 class="text-center py-3 animate__backInRight animate__animated ">Disponible 24/24h 7/7j</h2>

					{# -----carousel---------- #}
					<div class="bd-example">
						<div id="carouselExampleCaptions" class="carousel slide pointer-event" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
								<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
							</ol>
							<div class="carousel-inner" role="listbox">
								<div class="carousel-item active">
									<img class="rounded d-block w-100" data-src="holder.js/900x300?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [900x300]" src="{{asset('assets/images/vtcslider2.png')}}" data-holder-rendered="true">
									<div class="carousel-caption d-none d-md-block">

									</div>
								</div>
								<div class="carousel-item">
									<img class="rounded d-block w-100" data-src="holder.js/900x300?auto=yes&amp;bg=666&amp;fg=444&amp;text=Second slide" alt="Second slide [900x300]" src="{{asset('assets/images/vtcslider1.png')}}" data-holder-rendered="true">
									<div class="carousel-caption d-none d-md-block">

									</div>
								</div>
							</div>
						</div>
					</div>


					<div
						class="content-section">
						{# <div class="content-section-title">Apps in your plan</div> #}
						<div class="apps-card">
							<article class="app-card">
								<span>
									Un tarif connu à l’avance et sans surprise à l’arrivée
								</span>
								<div class="app-card__subtext">A la réservation ou lors de votre demande de devis, un tarif vous est annoncé. Ce tarif est celui que vous réglerez une fois la course terminée. Et ce, qu’il y ait des embouteillages, plus de bagages de prévu ou une personne supplémentaire
																		.</div>
								<div class="app-card-buttons"><img src="https://vtcexcellence.com/wp-content/uploads/2021/05/VTC-Toulouse-Chauffeur-jpg.jpg" alt="image vtc">
								{# <button class="content-button status-button">Update</button> #}
									{# <div class="menu"></div> #}
								</div>
							</article>

							<article class="app-card">
								<span>
									Facilité de paiement
								</span>
								<div class="app-card__subtext">Dans la voiture, vous pourrez régler votre course par carte bancaire ou en espèces. Et pour plus de flexibilité, n’oubliez pas la réservation en ligne offrant la possibilité d’un paiement par CB, Paypal...

								</div>
								<div class="app-card-buttons"><img src="https://vtcexcellence.com/wp-content/uploads/2021/05/VTC-EXCELLENCE-SERVICE-CONCIERGERIE.jpg" alt="image vtc">
								{# <button class="content-button status-button">Update</button> #}
									{# <div class="menu"></div> #}
								</div>
							</article>

							<article class="app-card">
								<span>
									Accessible 24h/24 et 7 jours/7
								</span>
								<div class="app-card__subtext">Vous cherchez un chauffeur qui puisse vous transférer dans l’instant. Grâce à notre outil de réservation en ligne, réservez à n’importe quelle heure, c’est vous qui définissez l’horaire et le lieu du rendez-vous. Une confirmation vous est envoyée et nous venons à votre rencontre (sous réserve de disponibilité du véhicule au moment de la réservation).
								</div>
								<div
									class="app-card-buttons">
									{# <button class="content-button status-button">Update</button> #}
									<img
									src="https://vtcexcellence.com/wp-content/uploads/2021/05/louer-un-vehicule-avec-chauffeur-a-toulouse-1.jpg" alt="image vtc">
								{# <div class="menu"></div> #}
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="overlay-app"></div>
	</div>

{% endblock %}
