{% extends 'base.html.twig' %}

{% block title %}Mise à jour mot de passe {% endblock %}

{% block body %}
    <h1>Mise à jour mot de passe </h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Valider la mise à jour </button>
    {{ form_end(resetForm) }}
{% endblock %}
