{% extends 'base.html.twig' %}

{% block title %}réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Réinitialisation du mot de passe
		</h1>

		{{ form_start(resetForm, , {'attr':{'class':'form form-control'}}) }}
		{{ form_row(resetForm.plainPassword, , {'attr':{'class':'form form-control'}}) }}
		<button class="btn btn-primary p-2 btn-block ">Réinitialiser</button>
		{{ form_end(resetForm) }}

	</div>
{% endblock %}
