<form method="post" action="{{ path('app_notice_delete', {'id': notice.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notice.id) }}">
    <button class="btn">Delete</button>
</form>
