{% extends 'base.html.twig' %}

{% block title %}Edit Notice{% endblock %}

{% block body %}
    <h1>Edit Notice</h1>

    {{ include('notice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_notice_index') }}">back to list</a>

    {{ include('notice/_delete_form.html.twig') }}
{% endblock %}
