{% extends "base.html.twig" %}
{% block title %}Mentions legales
{% endblock %}


{% block body %}
<br><br><br>
	<div style="top:20px;" class="container wrap my-5  mt-5 bg-ligth-gradient">
		<h1 class="my-5 container text-center bg-info " >Conditions Générales de Vente
		</h1>

		<div class="card border-primary mb-3">
		
			<div class="card-body">
				<h4 class="card-title my-2 ">ARTICLE 1 – Champ d’application</h4>
				<p class="card-text  ">Les présentes Conditions Générales de Vente s’appliquent, sans restriction ni réserve à toute vente de services liés à l’activité d’exploitation d’une voiture de tourisme avec chauffeur, ci-après les « Services », proposés par la société <strong>Izy Drive </strong>, ci-après le « Prestataire ») auprès de personnes physiques ou morales, ci-après le « Client ».
					Les caractéristiques principales des Services, sont présentées sur le site internet et l’application du Prestataire.
					Le Client est tenu d’en prendre connaissance avant toute passation de commande.<br>
					Le choix et l’achat d’un Service est de la seule responsabilité du Client.<br>
					Ces Conditions Générales de Vente sont systématiquement portées à la connaissance de tout Client préalablement à la conclusion du contrat de fourniture des Services et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire.
					Le Client déclare avoir pris connaissance des présentes Conditions Générales de Ventes et les avoir acceptées avant la conclusion du contrat de fourniture des Services. La validation de la commande de Services par le Client vaut acceptation sans restriction ni réserve des présentes Conditions Générales de Vente.
					Ces Conditions Générales de Vente pouvant faire l’objet de modifications ultérieures, la version applicable à l’achat du Client est celle en vigueur au jour de la conclusion du contrat.<br>
					Les Services sont proposés à la vente sur le territoire français ainsi que sur les territoires des pays de l’union européenne et de la Suisse dans le respect de la réglementation applicable à ces territoires pour la réalisation du Service.
					Les éventuels surcoûts générés pour la réalisation du Service hors du territoire français tels que taxes locales ou taxe d’état seront à la charge du Client.</p>
			</div>
            <div class="card-body">
				<h4 class="card-title my-2 ">ARTICLE 2 – Commandes</h4>
				<p class="card-text  "> Le Client sélectionne les Services qu’il désire commander, soit par téléphone (0612345678), par e-mail (Izydrive@yahoo.com), via notre site (www.Izydrive.fr) ou via l’application mobile ou encore par courrier.
La réservation, doit avoir lieu au minimum trente (30) minutes avant l’heure du début de la prestation de transport (ce délai pouvant être augmenté à la discrétion du Prestataire en fonction de la disponibilité des véhicules).
Dès réception de la demande de réservation, un devis sera envoyé au Client. Les devis sont valables quinze (15) jours à compter de leur date d’émission.
La réservation de la prestation deviendra contractuelle et sera considérée comme ferme et définitive entre les Parties après retour du devis accepté par le Client avec la mention  » bon pour accord « .
Il appartient au Client de vérifier l’exactitude de la commande et de signaler immédiatement toute erreur.
En cas d’une modification de la commande par le Client, tel qu’une modification du trajet, il devra en avertir le Prestataire suffisamment tôt pour lui permettre d’organiser la réalisation du service modifié avec, le cas échéant, la signature d’un nouveau devis.
Toute modification de la commande par le Client en cours de réalisation de la prestation pourra engendrer des suppléments à régler aux tiers ou à rembourser au chauffeur à l’issue de la prestation. En cas de modification de la commande en cours de réalisation du fait du Client, le chauffeur les notera sur son ordre de mission et les fera signer par le Client. Les coûts occasionnés en raison de ces modifications resteront à la charge du Client.
L’acceptation d’une modification de la commande initiée par le Client en cours de réalisation de la prestation restera à la discrétion du Prestataire qui pourra la refuser si elle occasionne une perturbation dans le fonctionnement de son organisation. </p>
			</div>
		</div>

	</div>
{% endblock %}
