{% extends 'base.html.twig' %}

{% block title %}Page des conditions générales
{% endblock %}

{% block body %}
	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
			<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div class="dark-light">
		<svg viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
	</div>

	{# ----header desktop--- #}
	<div class="app">
		{% include "partials/header1.html.twig" %}
		{% block temperature %}

			{# <p class="text-white bold my-1 ">~ {{ville}} | {{temperature}}°C</p> #}
		{% endblock %}
		{# ----navbar left--- #}
		<div class="wrapper">
			<div class="left-side">
				<div class="side-wrapper">
					{% include "partials/navleft.html.twig" %}
				</div>
			</div>

			{# -----header mobile ---------- #}

			<div class="main-container ">
				{% include "partials/headermobile.html.twig" %}

				<div class="content-wrapper m-4 rounded">
					<h1 class="text-center side-title">Conditions générales de vente – Voiture avec chauffeur haut de gamme</h1>
					<h2 class="side-title">ARTICLE 1</h2>
					<p>Toute réservation effectuée auprès de SUD VTC entraîne l’acceptation sans réserve des présentes conditions générales de vente.
					</p>
					<h2 class="side-title">ARTICLE 2 – RÉSERVATIONS</h2>
					<p>Toute prestation doit faire l’objet d’une réservation confirmée par écrit.Les réservations peuvent se faire sur notre page dédiée à cet effet www.sudvtc.com/réservation, par téléphone au 06.16.79.32.16 ou directement par email à l’adresse reservation@sudvtc.com.
						Un email confirmant notre disponibilité sera alors envoyé par nos services.Toute réservation de prestation doit être effectuée au plus tard 24 heures avant le début de ladite prestation.
						Elle doit être effectuée par le client ou par un mandataire dûment autorisé.Toute réservation doit mentionner impérativement les éléments suivants : nom et coordonnées du client (adresse, mail, téléphone), adresse du lieu de prise en charge et adresse du lieu d’arrivée pour les transferts, la durée souhaitée pour les mises à disposition, date et heure du début de la prestation, nombre de passager et nombre de bagage.
						Une confirmation de réservation devra nous être retournée, par email ou par courrier, portant la mention “Bon pour accord”, et signée par le client.</p>
					<h2 class="side-title">ARTICLE 3 – PRESTATION</h2>
					<p>La prestation n’est valable qu’une fois.
						
						La prestation commence au lieu de stationnement du véhicule, au jour et heure fixés au contrat préalablement établi entre les parties.
						Elle se termine au jour et à l’heure de retour du véhicule à son lieu de départ.
						
						Dans le cas d’un retard du client, le chauffeur patientera 15 minutes sur le lieu de la prise en charge. Passé ce délai SUD VTC considérera la prestation annulée. Celle-ci sera facturée au client et ne donnera lieu à aucun remboursement.
						
						S’il s’avérait que le client ne soit pas présent sur le lieu de rendez-vous, la prestation serait définitivement perdue, due par celui-ci et ne donnerait aucun droit à remboursement.
						
						Si le client ne trouve pas le chauffeur, il doit appeler immédiatement SUD VTC pour éviter d’être facturé du montant intégral de la prestation.
						
						Le respect et le bon usage du matériel est de rigueur. Toute détérioration du matériel et tout dommage causé à l’intérieur du véhicule sera à la charge du client et lui sera facturé.<br><br>

						Il est strictement interdit de fumer à l’intérieur du véhicule.

						<span class="text-danger">
							Le port de la ceinture de sécurité est obligatoire à l’avant comme à l’arrière du véhicule.
							
							Les animaux ne sont pas admis dans les véhicules, sauf dans une cage ou un sac prévu à cet effet.
							
							SUD VTC n’est en aucun cas responsable des objets oubliés dans les véhicules ou ailleurs pendant la prestation.</span>

						En aucun cas, le client ne pourra exiger du chauffeur qu’il dépasse la limitation de vitesse autorisée ou commette quelconques infractions au code de la route.
						
						Plus généralement, le chauffeur se réserve le droit de refuser toutes instructions et/ou demandes du client qu’il considérerait comme étant de nature à compromettre la sécurité des occupants du véhicule et des autres usagers de la route.
						
						Nos chauffeurs sont de vrais professionnels, leur responsabilité étant engagée, ils ont pour consigne de respecter et faire respecter les lois en vigueur.
						
						SUD VTC se réserve le droit d’interrompre toute prestation sur le champs, dans le cas où le client viendrait à avoir un comportement mettant en péril la sécurité du chauffeur, le véhicule loué ou les autres usagers de la route. La prestation sera alors facturée dans son intégralité au client.
						
						Les clients trop alcoolisés ou insultant envers le chauffeur ne pourront en aucun cas prendre place à bord des véhicules. La prestation sera alors facturée dans son intégralité au client.
						
						Le volume de bagages transportés est proportionnel à la capacité du véhicule. Ils demeurent pendant toute la prestation sous la responsabilité des personnes transportées.
						
						Toute modification du trajet par le client ou par son donneur d’ordre, pourra engendrer des suppléments qui lui seront facturés.
						
						La prestation fournie par la société SUD VTC telle que réglementée par les articles L.231-1 à L.231-4 et R.231-1 à R.231-9 du Code du Tourisme, consiste en une mise à disposition au profit du client d’un véhicule, indissociablement assortie des services d’un chauffeur.
						Sont ainsi notamment inclus dans la prestation :</p>
					<ul>
						<li>le véhicule mis à disposition du client</li>
						<li>la mise à disposition d’un chauffeur s’exprimant au minimum en langue française</li>
						<li>l’assurance professionnelle pour les passagers transportés à titre onéreux, les kilomètres parcourus, l’entretien du véhicule, le carburant et la durée déterminée lors de la réservation de la prestation
						</li>
						<li>le transport des bagages du client, dans la limite des possibilités du véhicule
						</li>
						<li>le coût des péages
						</li>
					</ul>
					<p>Ne sont pas inclus dans la Prestation :</p>
					<ul>
						<li>le coût des parkings et plus généralement de tous lieux de stationnement</li>
						<li>les frais d’entrée sur les sites (musées, théâtres, châteaux, stade ou autres)</li>
						<li>les droits d’entrée dans les lieux publics</li>
					</ul>

					<h2 class="side-title">ARTICLE 4 – PRIX</h2>
					<p>
						Les tarifs établis par notre simulateur sont donnés à titre indicatif et peuvent être modifiés en fonction des horaires souhaités. Pour confirmer ce tarif, il est recommandé d’envoyer une demande de réservation. SUD VTC confirmera tous les détails de cette demande et notamment le prix de la prestation.
						<br><br>
						Nos tarifs s’entendent TTC, et sont exprimés en Euros (€).
						Le taux de TVA applicable pour les transferts est de 10%.
						Le taux de TVA applicable pour les mises à disposition à l’heure est de 20%
						<br><br>
						Le tarif de transfert s’applique au déplacement direct, sans arrêt, sans étape, depuis le lieu de prise en charge jusqu’au lieu d’arrivée préalablement établi dans le contrat.
						<br><br>
						Les tarifs sont applicables pour des opérations ne dépassant pas 2 véhicules de la même catégorie.
						Au-delà, SUD VTC se réserve le droit de majorer ses tarifs en fonction du nombre de véhicules souhaités.
						<br><br>
						Les prix s’entendent par véhicule, quel que soit le nombre de personnes transportées (jusqu’à 3 pour les berlines et jusqu’à 7 pour les minivans).
						<br><br>
						Pour la mise à disposition, toute heure commencée est due.
						Tout kilomètre supplémentaire au forfait établi par le contrat sera facturé 1,50€ TTC/km.
						Toute heure supplémentaire au forfait établi par le contrat sera facturée 45€/heure.
						<br><br>
						Pour les déplacements prévus sur plusieurs jours, les tarifs forfaitaires suivants seront facturés au client :
					</p>
					<ul>
						<li>repas = 25€ TTC
						</li>
						<li>nuit d’hôtel + petit-déjeuner = 120€ TTC</li>
					</ul>
					<p>Nos tarifs incluent :</p>
					<ul>
						<li>la TVA
						</li>
						<li>le véhicule mis à disposition du client
						</li>
						<li>la mise à disposition d’un chauffeur s’exprimant au minimum en langue française
						</li>
						<li>l’assurance professionnelle pour les passagers transportés à titre onéreux, les kilomètres parcourus, l’entretien du véhicule, le carburant et la durée déterminée lors de la réservation de la prestation
						</li>
						<li>le transport des bagages du client, dans la limite des possibilités du véhicule
						</li>
						<li>la mise à disposition à bord des véhicules de services (WIFI, boissons fraîches, lingettes rafraîchissantes, journaux du jour, chargeurs de téléphone, tablette tactile)
						</li>
						<li>le coût des péages.
						</li>
					</ul>
					<p>Nos tarifs n’incluent pas :</p>
					<ul>
						<li>le coût des parkings et plus généralement de tous lieux de stationnement</li>
						<li>les frais d’entrée sur les sites (musées, théâtres, châteaux, stade ou autres)</li>
						<li>les droits d’entrée dans les lieux publics
						</li>
						<li>les frais de repas et d’hébergement du chauffeur pour un déplacement sur plusieurs jours</li>
					</ul>
					<h2 class="side-title">ARTICLE 5 – RÈGLEMENT
					</h2>
					<p>Nos prestations sont payables au comptant, en euros, à bord du véhicule, lors de la prise en charge du client, excepté pour nos clients “Grand Compte” et Partenaires pour lesquels une facturation périodique est établie.
						
						Nous acceptons les règlements par virement, en espèces et par carte bancaire (Visa, Mastercard, American Express …).
						
						Pour nos clients “Grand Compte” et nos partenaires, les prestations sont payables au comptant à réception de facture sauf accord contractuel particulier.
						
						Aucun escompte n’est accordé pour un paiement à une date antérieure à la prestation.
						
						Dans tous les cas, le client signataire de la réservation est seul responsable du paiement de la prestation en cas de défaillance de l’utilisateur.
						
						Toute prestation supplémentaire, tout dépassement de kilomètre ou de durée, sera facturée conformément au prix indiqués sur le bon de commande.
						
						Toute heure commencée est due dans son intégralité.
						
						Pour les forfaits mariages ou excursions, la réservation ne devient ferme qu’après versement d’un acompte non-restituable égal à 30%du montant de la prestation.</p>
					<h2 class="side-title">ARTICLE 6 – ANNULATION
					</h2>
					<p>Toute annulation de réservation moins de 24 heures avant le début de la prestation sera considérée comme du et facturée au client.
						
						Au-delà d’un délai d’attente de 15 minutes sur le lieu de prise en charge, la prestation sera considérée comme due et facturée au client.
						
						En cas d’absence du client,<span class="text-danger">
							la prestation sera considérée comme due et facturée</span>.</p>
					<h2 class="side-title">ARTICLE 7 – LIMITES DE RESPONSABILITÉS

					</h2>
					<p>SUD VTC ne peut en aucun cas être tenue responsable des retards sur les trafics ferroviaires et aériens.
						
						SUD VTC ne peut en aucun cas être tenue responsable des retards dus au trafic routier indépendant de sa volonté : route barrée, pont interdit à la circulation, embouteillages, route inondée, manifestation, conditions météorologiques, interventions des forces de police, des pompiers ou des douanes, etc … (liste non exhaustive).
						
						SUD VTC ne peut en aucun cas être tenue responsable des retards directement issus d’un retard initial du client, ou de la nécessité d’effectuer un trajet, à la demande du client, dans un délai manifestement trop court.
						
						En cas d’immobilisation du véhicule due à une défaillance mécanique, un accident ou un dommage (vol, dégradation), SUD VTC s’efforcera d’assurer la continuité du parcours, soit avec l’un de ces véhicules, soit avec un véhicule affrété à une autre compagnie et s’engage à prévenir le donneur d’ordre.</p>

					<h2 class="side-title">ARTICLE 8 – ASSURANCES
					</h2>
					<p>La responsabilité de SUD VTC est limitée aux clauses de notre contrat d’assurance.
						
						Nos véhicules sont assurés pour le transport de personnes et nos voyageurs pour tous les dommages corporels auprès de notre assureur. Cette assurance couvre également la responsabilité civile professionnelle, conformément à la réglementation française en vigueur, en application de l’article L. 3120-4 du Code des Transports.
						
						Le donneur d’ordre aura toute faculté pour souscrire une assurance complémentaire à sa charge couvrant les frais d’annulation, les frais de rapatriement ou les bagages transportés</p>
					<h2 class="side-title">ARTICLE 9 – DONNÉES PERSONNELLES
					</h2>
					<p>SUD VTC s’engage à respecter la vie privée de ses clients.
						
						SUD VTC s’engage à respecter la confidentialité des données personnelles collectées sur son site internet conformément à la loi française Informatique et Liberté n°78-17 du 6 janvier 1978. A ce titre, SUD VTC s’engage à ne pas divulguer à des tiers les informations communiquées par le client sur son site internet et à ne les utiliser que pour le traitement de sa réservation.
						Le client peut exercer un droit d’accès à son fichier et un droit de rectification ou de suppression des renseignements le concernant en adressant sa demande au Service Clients de SUD VTC.</p>
					<h2 class="side-title">ARTICLE 10 – LITIGES

					</h2>
					<p>Toute réclamation doit être notifiée par écrit et par lettre recommandée à l’attention du Service Client, sous un délai maximum de 8 jours. Passé ce délai, aucune réclamation ne pourra aboutir.
						
						Sous réserve de dispositions légales, tout litige est, de convention expresse, de la compétence exclusive du Tribunal de Commerce de Nîmes (Gard).</p>
				</div>
			</div>
			<div class="overlay-app"></div>
		</div>

	{% endblock %}
