{% extends 'base.html.twig' %}

{% block title %}Page Accueil | Home
{% endblock %}

{% block body %}
	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
			<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div class="dark-light">
		<svg viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
	</div>

	{# ----header desktop--- #}
	<div class="app">
		{% include "partials/header1.html.twig" %}
		{# ----navbar left--- #}
		<div class="wrapper">
			<div class="left-side">
				<div class="side-wrapper">
					{% include "partials/navleft.html.twig" %}
				</div>
			</div>

			{# -----header mobile ---------- #}
			<div class="main-container">
				{% include "partials/headermobile.html.twig" %}

				<div class="content-wrapper">
					<div class="content-wrapper-header">
						<div class="content-wrapper-context">
							<h3 class="img-content">
								Chauffeur privé
							</h3>
							<div class="content-text">Riche d’une expérience de conduite de 20 années, votre chauffeur maitrise 5 langues : anglais, français, espagnol, portugais et brésilien. Diplômé, il est titulaire du N° de licence.</div>
							<button class="content-button bg-white  bold">
								<a class="bg-white text-success text-decoration-none" href="{{path('app_contact')}}">Contactez</a>
							</button>
						</div>
						<img class="content-wrapper-img" src="https://assets.codepen.io/3364143/glass.png" alt="">
					</div>
					{# <div class="content-section">
																												</ul>
																																													</div> #}
					<div class="content-section">
						<h1 class="content-section-title">Mentions légales</h1>
						<div class="apps-card">
							<div class="app-card h-100 w-100">
								<h3>
									Propriétaire et éditeur du contenu
								</h3>
								<div class="app-card__subtext">
									<p>Directeur de la publication : Emmanuel Marc
											RCS : Strasbourg 802 335 547 SISE
											Capital social : 8000 €
											Siège social : Aéroport de Strasbourg – 67000 Strasbourg<br>
											Tél : 03 83 33 01 01<br>
										Email : IZYDRIVE@gmail.com</p>
								</div>
								<p>Description des services fournis.<br>
									<br>
									Le site www.IZYDRIVE.com a pour objet de fournir une information concernant l’ensemble des activités de la société. Daouda BATTIONI s’efforce de fournir sur le site www.IZYDRIVE.com des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. Tous les informations indiquées sur le site www.IZYDRIVE.com sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site www.IZYDRIVE.com ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p><br>
								<article>Limitations contractuelles sur les données techniques.</article><br>

								<p>Le site utilise la technologie Symfony. Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour</p>
								<br>
								<article>Propriété intellectuelle et contrefaçons.</article><br>

								<p>Soufiane Dubois est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de :Soufiane Dubois. Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

							
									<article>Gestion des données personnelles.</article>
									<br>
									<p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995. A l’occasion de l’utilisation du site www.IZYDRIVE.com, peuvent êtres recueillies : l’URL des liens par l’intermédiaire desquels l’utilisateur a accédé au site www.sudvtc.com, le fournisseur d’accès de l’utilisateur, l’adresse de protocole Internet (IP) de l’utilisateur. Le site n’est pas déclaré à la CNIL car il ne recueille pas d’informations personnelles.</p>
									<article>Liens hypertextes et cookies</article><br>
									<p>Le site www.										Email : IZYDRIVE@gmail.com
									 contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de Hajara Legrand. Cependant, Fabrice  n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait. La navigation sur le site www.sudvtc.com est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation. Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :</p>
								<article>Droit applicable et attribution de juridiction</article><br>
								<p>Tout litige en relation avec l’utilisation du site www.IZYDRIVE.com est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Montpellie</p>

								<article>Les principales lois concernées</article><br>
								<p>Loi n° 78-87 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés. Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique</p>

								<article>Lexique</article><br>
								<p>Utilisateur : Internaute se connectant, utilisant le site susnommé.
																			Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l’identification des personnes physiques auxquelles elles s’appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>


								<div class="app-card-buttons"><img src="https://vtcexcellence.com/wp-content/uploads/2021/05/VTC-Toulouse-Chauffeur-jpg.jpg" alt="#">
								{# <button class="content-button status-button">Update</button> #}
									{# <div class="menu"></div> #}
								</div>
							</div>
							{# <div class="app-card h-100">
																														<span>
																															GESTION DES DONNEES PERSONNELLES.
																														</span>
																														<div class="app-card__subtext">
																															<p>En France, Les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995. A l’occasion de l’utilisation du site www.izydrive.</p>
																														</div>
																														<div class="app-card-buttons"><img src="https://vtcexcellence.com/wp-content/uploads/2021/05/VTC-EXCELLENCE-SERVICE-CONCIERGERIE.jpg" alt="">
																														{# <button class="content-button status-button">Update</button> #}
						{# <div class="menu"></div> #}
							{# </div>
																													</div> #}

							{# <div class="app-card h-100"> #}
							{# <span>
																															LIMITATIONS CONTRACTUELLES
																														</span>
																														<div class="app-card__subtext">
																															<p>Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel conformé avec un navigateur de dernière génération mis-à-jour</p>
																														</div>
																														<div
																															class="app-card-buttons">
																															{# <button class="content-button status-button">Update</button> #}
							{# <img
																															src="https://vtcexcellence.com/wp-content/uploads/2021/05/louer-un-vehicule-avec-chauffeur-a-toulouse-1.jpg" alt="#"> #}
							{# <div class="menu"></div> #}
							{# </div> #}
						</div>
					</div>
				</div>

				<div class="overlay-app"></div>
			</div>

		{% endblock %}
