{% extends 'base.html.twig' %}

{% block title %}Page Accueil | Home
{% endblock %}

{% block body %}
	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
			<source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<div class="dark-light">
		<svg viewbox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
			<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
	</div>

	{# ----header desktop--- #}
	<div class="app">
		{% include "partials/header1.html.twig" %}
		{% block temperature %}

			{# <p class="text-white bold my-1 ">~ {{ville}} | {{temperature}}°C</p> #}
		{% endblock %}
		{# ----navbar left--- #}
		<div class="wrapper">
			<div class="left-side">
				<div class="side-wrapper">
					{% include "partials/navleft.html.twig" %}
				</div>
			</div>

			{# -----header mobile ---------- #}

			<div class="main-container ">
				{% include "partials/headermobile.html.twig" %}

				<div class="content-wrapper m-4 rounded">
					<h1 class="text-centers ide-title">MENTIONS LÉGALES</h1>
					<h2 class="side-title">Editeur du site :</h2>
					<p>
						All In Drive - Frédéric Vergne<br>
						9 rue de Condé<br>
						33064 Bordeaux<br>
						Siren : 881 694 939<br>
						Tél : 07 66 65 65 99

					</p>
					<h2 class="side-title">Hébergement :</h2>
					<p>
						SAS OVH<br>
						2 rue Kellermann<br>
						59100 Roubaix - France<br>
						Site Web : www.ovh.com
					</p>
					<h2 class="side-title">Conditions d’utilisation :</h2>
					Ce site est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…) pour un meilleur confort d’utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc…<br>
All In Drive met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de son site internet. Toutefois, des erreurs ou omissions peuvent survenir. L’internaute devra donc s’assurer de l’exactitude des informations auprès de All In Drive, et signaler toutes modifications du site qu’il jugerait utile. All In Drive n’est en aucun cas responsable de l’utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.
					<h2 class="side-title">Cookies :</h2>
					<p>Le site all-indrive.fr peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d’affichage. Un cookies est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations . Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.</p>
					<h2 class="side-title">Liens hypertextes :</h2>
					<p>Les sites internet peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet. All In Drive ne dispose d’aucun moyen pour contrôler les sites en connexion avec ses sites internet. All In Drive ne répond pas de la disponibilité de tels sites et sources externes, ni ne le garantit. All-In Drive ne peut être tenu pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l’internaute, qui doit se conformer à leurs conditions d’utilisation.<br><br>Les utilisateurs, les abonnés et les visiteurs des sites internet de All In Drive ne peuvent pas mettre en place un hyperlien en direction de ce site sans l’autorisation expresse et préalable de All In Drive.<br><br>Dans l’hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de All In Drive, il lui appartiendra d’adresser un email accessible sur le site afin de formuler sa demande de mise en place d’un hyperlien. All In Drive se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.</p>
					<h2 class="side-title">Services fournis :</h2>
					<p>L’ensemble des activités de la société ainsi que ses informations sont présentées sur notre site all-indrive.fr.
All In Drive s’efforce de fournir sur le site all-indrive.fr des informations aussi précises que possible. Les renseignements figurant sur le site all-indrive.fr ne sont pas exhaustifs et les photos non contractuelles. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne. Par ailleurs, toutes les informations indiquées sur le site all-indrive.fr sont données à titre indicatif, et sont susceptibles de changer ou d’évoluer sans préavis.</p>
					<h2 class="side-title">Limitation contractuelles sur les données :</h2>
					<p>Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour à différentes périodes de l’année, mais peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email, à l’adresse flora @ all-indrive.fr, en décrivant le problème de la manière la plus précise possible (page posant problème, type d’ordinateur et de navigateur utilisé, …).<br><br>Tout contenu téléchargé se fait aux risques et périls de l’utilisateur et sous sa seule responsabilité. En conséquence, All In Drivene saurait être tenue responsable d’un quelconque dommage subi par l’ordinateur de l’utilisateur ou d’une quelconque perte de données consécutive au téléchargement. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.
Les liens hypertextes mis en place dans le cadre du présent site internet en direction d’autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de All In Drive.</p>
					<h2 class="side-title">Propriété intellectuelle :</h2>
					<p>Tout le contenu du présent site all-indrive.fr, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs.<br><br>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l’accord exprès par écrit de All In Drive. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des contenus copiés pourraient intenter une action en justice à votre encontre.</p>
					<h2 class="side-title">RGPD :</h2>
					<p>Dans le cadre de ce site internet, seules les inscriptions à la newsletter font l'objet de stockage d'information. L'email du contact est ainsi collecté et à destination unique de All In Drive pour l'informer de ses actualités.</p>
					<h2 class="side-title">Durée de conservation des données :</h2>
					<p>All In Drive conserve vos données pour la durée nécessaire aux opérations pour lesquelles elles ont été collectées et dans le respect de la législation en vigueur.</p>
					<h2 class="side-title">Sécurité de vos données personnelles :</h2>
					<p>Toutes les mesures nécessaires sont prises pour assurer la sécurité de vos données personnelles.
</p>
					<h2 class="side-title">Désignation d'un délégué à la Protection des données :</h2>
					<p>All In Drive délègue à son prestataire / fournisseur la mission de veiller au respect du RGPD. Votre interlocuteur direct, pour toutes questions relatives au traitement des données personnelles est joignable par courrier à l'adresse suivante :
YM-Studio : Délégué DPD - 10 Rue du Monastère 33440 Ambares et Lagrave.</p>
					<h2 class="side-title">Litiges :</h2>
					<p>Les présentes conditions du site all-indrive.fr sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l’interprétation ou de l’exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>
					<h2 class="side-title">Données personnelles :</h2>
					<p>De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez notre site Internet all-indrive.fr.<br><br>Cependant, ce principe comporte certaines exceptions. En effet, pour certains services proposés par notre site, vous pouvez être amenés à nous communiquer certaines données telles que : votre nom, votre fonction, le nom de votre société, votre adresse électronique, et votre numéro de téléphone. Tel est le cas lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la rubrique « contact ».<br><br>Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne pourrez pas utiliser les services du site, notamment celui de solliciter des renseignements sur notre société, ou de recevoir les lettres d’information.<br><br>Enfin, nous pouvons collecter de manière automatique certaines informations vous concernant lors d’une simple navigation sur notre site Internet, notamment : des informations concernant l’utilisation de notre site, comme les zones que vous visitez et les services auxquels vous accédez, votre adresse IP, le type de votre navigateur, vos temps d’accès.<br><br>De telles informations sont utilisées exclusivement à des fins de statistiques internes, de manière à améliorer la qualité des services qui vous sont proposés. Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>




				</div>
			</div>
			<div class="overlay-app"></div>
		</div>

	{% endblock %}
